.jumbotron {
  width: 100%;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  height: auto; 
  background-color: transparent;
  backdrop-filter: blur(20px);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
}