body{
    background-image: url(https://preview.redd.it/3840x2160-4k-sky-wallpaper-background-v0-p591n1liy7j81.png?width=1080&crop=smart&auto=webp&s=6c4aed8c6bd29e45bceb920742dcd768d480af5e);
    background-repeat: no-repeat;
    background-size: cover;
}